body{
    font-family: 'Montserrat', sans-serif;
    text-align: center !important;
}
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #ff3f3f;
} */

*, html {
    --primaryGradient : linear-gradient(319deg, #0f2c5f 0%, #2e4e87 37%, #0052df 100%);
    --secondaryGradient: linear-gradient(319deg, #0f2c5f 0%, #2e4e87 37%, #0052df 100%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #581B98;
}
/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    bottom: -61px;
    position: relative;
}
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;

}

/* BUTTON */
.chatbox__button {
    position: fixed;
    width: 4%;
    transform: translate(475%, -100%);
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
    text-align: right;
}

.messages__item--visitor {
    margin-right: auto;
    text-align: left;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}
.bot-logo{
    border-radius: 100%;
    width: 25%;
}


/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    left: -3rem;
    position: absolute;
}

.chatbox__heading--header {
    font-size: 1rem;
    color: white;
    transform: translate(25%, 2) !important;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
    transform: translate(-2%, -17);
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    cursor: pointer;
}

.chatbox__button img{
    border-radius: 100%;
}

/* Scroll to top */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: none;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-width: 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-width: 15px;
  }

  /* Scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #000000;
}

::-webkit-scrollbar-thumb:hover {
    background: #232323;
}
/* MEDIA QUERY FOR DIFFERENT VIEWPORTS  */

@media (max-width:990px){

    #title{
       text-align: center;
    }

    .title-image{
        width : 50%;
        position: static;
    }

    .navbar-nav{
        background: #000000b8;
        /* width: 36%;
        position: absolute;
        left: 35%; */
        }

}

