<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Aarogya Raksha</title>

  <!-- Favicon   -->
  <link rel='icon' href="static/images/logo-favicon.png" type='image/x-icon'>

  <!-- CSS STYLESHEETS -->
  <link rel="stylesheet" href="static/test.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
 
  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap" rel="stylesheet">
  <!-- FONT AWESOME -->
  <script src="https://kit.fontawesome.com/7877a39906.js" crossorigin="anonymous"></script>
  <script type="text/javascript">
    var url_string = window.location.href;
    var url = new URL(url_string);
    var user = url.searchParams.get("userName");
  
    function loaded() {
      document.getElementById("name").innerHTML = user;
    }
  </script>
</head>

<body onload="loaded()">

  
  <section class="coloured-section" id="title">
    <div class="container-fluid title-container">
    <!-- Nav Bar -->
      <div class="row">
        <div class="col-lg-6 title-bg">
          <img class="title-logo" src="static/images/title-logo.png">
        </div>
          <div class="col-lg-6">
              <nav class="navbar navbar-expand-lg navbar-dark">
             
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="#features">Features</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#testimonials">Services</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#footer">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Profile</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"> <span class="nav-link" id="name"></span></a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item nav-link" href="{{url_for('logout')}}">Logout</a></li>
                      </ul>
                    </li>
                  </ul>
                  
                
                </div>
              </nav>
      </div>

    </div>

        <!-- Title -->
        <div class="row">
          <div class="col-lg-6">
            <h1 class="big-heading">Insurance made <p id="sub-heading">simple</p> for you.</h1>
            <p class="tagline">Secure your health, protect your wealth with Aarogya Raksha.</p>
            <a href="static/pdf/EVRY India Insurance Policy Guide-2023.pdf"><button class="btn btn-outline-light btn-lg download-button" type="button"><i class="fa fa-arrow-down" aria-hidden="true"></i>Download</button></a>
        </div>
          <div class="col-lg-6">
            <img src="static/images/bg-logo.png" class="title-image">
          </div>
      </div>
    </div>
  </section>


  <!-- Features -->

  <section class="white-section" id="features">
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-4">
        <i class="fa-sharp fa-solid fa-circle-check text-color"></i>
        <h3 class="feature-heading">Financial stability</h3>
        <p class="feature-description"> Strong financial foundation to cover claims and a strong credit rating</p>
        </div>

        <div class="col-lg-4">
        <i class="fa-solid fa-bullseye text-color"></i>
        <h3 class="feature-heading">Customer-Centricity</h3>
        <p class="feature-description"> Fast and efficient claims processing with personalized chat support</p>
        </div>

        <div class="col-lg-4">
        <i class="fa-solid fa-shield-halved text-color"></i>
        <h3 class="feature-heading">Risk management</h3>
        <p class="feature-description">Effective risk management practices in place, claims management, and reinsurance</p>
        </div>

      </div>
   </div>
  </section>


  <!-- Testimonials -->

  <section class="coloured-section" id="testimonials">

    <div id="testimonial-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" data-bs-pause="hover">
      <div class="carousel-inner">

        <div class="carousel-item active container-fluid" >
          <img class="policy-services" src="static/images/Accident-Insurance.png">
        </div>

        <div class="carousel-item container-fluid" >
          <img class="policy-services" src="static/images/Health-Insurance.png">
        </div>

        <div class="carousel-item container-fluid" >
          <img class="policy-services" src="static/images/Life-Insurance.png">
        </div>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>  <!--for visually impaired -->
      </button>
      
      <button class="carousel-control-next" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>  <!--for visually impaired -->
      </button>

    </div>

  </section>

<!-- Chatbot -->
  <section id="chat-bot">

    <div class="container">
      <div class="chatbox">
          <div class="chatbox__support">
              <div class="chatbox__header">
                  <div class="chatbox__image--header">
                      <img class="chatbot__agent" src="static/images/bot.png" alt="image">
                  </div>
                  <div class="chatbox__content--header">
                      <h4 class="chatbox__heading--header">Insurance Agent</h4>
                      <p class="chatbox__description--header">Chat Support</p>
                  </div>
              </div>
              <div class="chatbox__messages">
                  <div></div>
              </div>
              <div class="chatbox__footer">
                  <input type="text" placeholder="Write a message...">
                  <button class="chatbox__send--footer send__button">Send</button>
              </div>
          </div>
          <div class="chatbox__button">
              <button><img src="{{ url_for('static', filename='images/logo.png') }}" /></button>
          </div>
      </div>
  </div>
  </section>




  <!-- Footer -->

  <footer class="white-section" id="footer">

    <div class="container-fluid">
        <i class="fa-brands fa-twitter footer-logo"></i>
        <i class="fa-brands fa-facebook-f footer-logo"></i>
        <i class="fa-brands fa-instagram footer-logo"></i>
        <i class="fa-solid fa-envelope footer-logo"></i>
    
        <p class="copyright">© Copyright 2023 TietoEvry - Aarogya Raksha</p>
    </div>

  </footer>
  <script>
    $SCRIPT_ROOT = {{ request.script_root|tojson }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>

</html>
